body {
	background-color: FloralWhite;
}

/* cabeçalho */
header {
	color: Orange;
	text-align: center;
    font-size: 50px;
    padding: 5px 0 50px 0;
}

/* texto */
txt {
	color: Fuchsia;
	font-family: verdana;
    font-size: 45px;
	padding-left: 20px;
}

/* rodapé */
footer {
	color: Indigo;
	font-family: verdana;
    text-align: right;
    font-size: 20px;
    padding-top: 10%;
	padding-right: 20px;
}

/* versão 1.01 */
